* {
  box-sizing: border-box;
  margin: 0 auto;
}

.assets {
  height: 90px;
  padding: 30px 140px;
}
.img1,.img1a{
  margin:0px auto;
}
.jbtt{
  display: block;
  margin: 0 1vmin;
  width: 150px;
  height: 70px;
  line-height: 2.5;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 20px;
  border: 6px double black;
  background-color: rgb(59, 245, 7);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(44, 242, 222, 0.7)
  );
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.6),
    inset -4px -4px 3px rgba(0, 0, 0, 0.6);
  outline: none;
}
.pic1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(103, 3, 94);
}
.pic1 p {
  margin: 30px auto;
  background-color: rgb(243, 195, 122);
}
.pic1 .new1 {
  border: 5px double rgb(103, 3, 94);
  border-radius: 30px;
  width: 450px;
  margin: 20px 0px;
}
.pic2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(168, 103, 5);
  margin: 20px;
  padding: 30px;
}
.pic2 p {
  background-color: rgb(243, 195, 122);
  width: 900px;
}
.picta{
  display:flex;
  flex-direction:row ;
  margin:30px;
}
.pic3 {
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: rgb(168, 103, 5);
  padding: 30px;
}
.pic3 p {
  background-color: rgb(243, 195, 122);
  margin: 10px;
  height: 70px;
}
.pic4 {
  display: block;
  width: 700px;
  background-color: rgb(243, 195, 122);
  padding: 40px;
  margin: 80px auto;
}
.clubs {
  background-color: rgb(103, 3, 94);
  padding: 30px;
  color: white;
}
.pic5{
  display:flex;
  flex-direction: row;
  background-color: rgb(243, 195, 122);
}
.pic6{
  display:flex;
  flex-direction: row;
  background-color: rgb(103, 3, 94);
  padding:30px;
}
.pic7{
  display:flex;
  flex-direction: column;
  margin:30px;
  background-color: rgb(243, 195, 122);
  padding:30px;
}
.pic7 p{
    background-color: rgb(243, 195, 122);
    width: 900px;
  }