.bird{
  display:flex;
  flex-direction: row;
  padding:30px ;
}
.gif{
  width:550px;
  padding:20px;
  text-align:left;
  background-color: rgb(243, 195, 122);
  color:black;
}
.birds{
  border:5px double darkorange ;
  padding:30px;
}